# copy this config to haproxy.cfg to use it
global
  log  127.0.0.1  local0
  log  127.0.0.1  local1 notice
  maxconn  4096
  uid  99
  gid  99
  daemon

resolvers docker
  nameserver dns1 127.0.0.11:53

defaults
  log   global
  mode  http
  option  httplog
  option  dontlognull
  retries  3
  option  redispatch
  option  http-server-close
  maxconn  2000
  timeout connect  5000
  timeout client  50000
  timeout server  50000

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend public
  bind *:80
  default_backend api

backend api
  timeout server 30s
  balance roundrobin
  cookie SERVERID insert indirect nocache
  server-template deviceapi- 2 deviceapi:80 weight 10 cookie check resolvers docker init-addr libc,none 
