global
  log stdout format raw local0 info

resolvers docker
  nameserver dns1 127.0.0.11:53


defaults
  mode http
  log global

  timeout client 25s
  timeout connect 5s
  timeout server 25s
  timeout tunnel 3600s
  timeout http-keep-alive 1s
  timeout http-request 15s
  timeout queue 30s
  timeout tarpit 60s

  option httplog
  option http-server-close
  option dontlognull
  option redispatch
  option contstats
  retries 3
  backlog 10000

  default-server inter 3s rise 2 fall 3
  option forwardfor



frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend myfrontend
  bind :80

  ## routing based on Host header
  acl host_ws hdr_beg(Host) -i ws.
  use_backend bk_ws if host_ws
  ## routing based on websocket protocol header
  acl hdr_connection_upgrade hdr(Connection)  -i upgrade
  acl hdr_upgrade_websocket  hdr(Upgrade)     -i websocket
  use_backend bk_ws if hdr_connection_upgrade hdr_upgrade_websocket
  default_backend bk_web
 

backend bk_web
  balance roundrobin
  mode http
  option httpchk HEAD /
  server-template deviceapi- 2 deviceapi:80 weight 10 cookie check resolvers docker init-addr libc,none 

backend bk_ws                                                    
  balance roundrobin
   ## websocket protocol validation
  acl hdr_connection_upgrade hdr(Connection)                 -i upgrade
  acl hdr_upgrade_websocket  hdr(Upgrade)                    -i websocket
  acl hdr_websocket_key      hdr_cnt(Sec-WebSocket-Key)      eq 1
  acl hdr_websocket_version  hdr_cnt(Sec-WebSocket-Version)  eq 1
  http-request deny if ! hdr_connection_upgrade ! hdr_upgrade_websocket ! hdr_websocket_key ! hdr_websocket_version
  ## ensure our application protocol name is valid 
  ## (don't forget to update the list each time you publish new applications)
  acl ws_valid_protocol hdr(Sec-WebSocket-Protocol) DeviceStatus
  http-request deny if ! ws_valid_protocol
  ## websocket health checking
  option httpchk GET / HTTP/1.1rnHost:\ ws.domain.comrnConnection:\ Upgrade\r\nUpgrade:\ websocket\r\nSec-WebSocket-Key:\ haproxy\r\nSec-WebSocket-Version:\ 13\r\nSec-WebSocket-Protocol:\ DeviceStatus
  http-check expect status 101
  server-template deviceapi- 2 deviceapi:80 weight 10 cookie check resolvers docker init-addr libc,none 

